---
all:
  hosts:
{{ range $resource := .resources }}{{ if eq .type "aws_instance" }}{{ range .instances }}    {{ .attributes.tags.Name }}:
      ansible_host: {{ .attributes.public_ip }}
{{ end }}{{ end }}{{ if eq .type "libvirt_domain" }}{{ range .instances }}    {{ .attributes.name }}:{{ range $index,$element := .attributes.network_interface }}
        {{ if eq $index 0 }}{{ range .addresses }}ansible_host: {{ . }}{{ end }}{{ end }}{{ if eq $index 1 }}{{ range .addresses }}private_ip: {{ . }}{{ end }}{{ end }}{{ end }}
{{ end }}{{ end }}{{ end }}  vars:
    ansible_user: ansible
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
